* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0 0 0 / 87%);
  background-color: #f6f6f6;
}

html,
#root,
.fill {
  width: 100%;
  height: 100%;
}

a {
  color: #4183c4;
  text-decoration: none;
}

p {
  margin: 0;
}
